* {
    padding: 0;
    margin: 0;
  }
  .page-content {
    display: grid;
    grid-template:
      "main-menu header" 100px
      "main-menu main-content" /
      230px 1fr;
    background-color: rgb(240, 240, 240);
    height: 100vh;
  }
  header {
    grid-area: header;
    position: fixed;
    height: 100px;
    background-color: rgb(200, 200, 200);
    width: 100%;
   
   padding-left: 950px;
   padding-top: px;
  
  }
  .main-menu {
    grid-area: main-menu;
    background-color: rgb(39, 163, 25);
    position: fixed;
    height: 100vh;
    width: 320px;
  }
  .logo {
    height: 160px;
    margin: 20px 20px;
    width: 280px;
    border-bottom: 1px solid white;
  }
  
  .box-menu {
    list-style: none;
    font-size: 1.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 30px;
    margin-top: 20px;
  }
  .box-menu > li {
    line-height: 60px;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .text-item-menu {
    margin-left: 12px;
  }
  .main-content {
    grid-area: main-content;
    display: grid;
    padding-top: 50px;
    grid-template:
      "empty-left mi-form empty-right" /
      1fr 1150px 1fr;
  }
  .mi-form {
    grid-area: mi-form;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .box-input {
    margin-top: 70px;
  }
  input[type="text"] {
    width: 450px;
    height: 60px;
    border: rgb(96, 96, 96, 0.9);
    margin-top: 15px;
    border-radius: 15px;
  }
  
