body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url(../img/fondoPablo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logo{
    display: flex;
    justify-content: center;
}
.Usuario{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border: 1px solid #ccc;
}
.contraseña{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border: 1px solid #ccc;
}
.box-icon {
    display: flex;
    align-items: center;
    height: 38px;
    padding-left: 15px;
}
.container {
    
    width: 300px;
    padding: 16px;
    background-color: #fff;
    margin: 100px auto;
    box-shadow: 0px 0px 10px 0px grey;

}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px 12px 10px;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    outline: none;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}