* {
    font-size: 1em;
    margin: 0;
    padding: 0;
}
.page-content{
    display: grid;
    grid-template: "main-menu header" 100px
                   "main-menu main-content" /
                      320px     1fr;
    background-color:  #fffcf4;
    height: 100vh;
}
header{
    grid-area: header;
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: #ADC4CE;
   
    
}
.main-menu{
    grid-area: main-menu;
    background-color: #96B6C5;
    position: fixed;
    height: 100vh;
    width: 320px;


}
.logo{
    height: 160px;
    margin: 20px 20px;
    width: 280px;
    border-bottom: 1px solid white;

}

.box-menu > li{

    list-style: none;
    font-size: 1.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    margin-left: 30px;

}
a{
    color: white;
    text-decoration: none;

}
.text-item-menu{
   margin-left:12px ;
}
.main-content{
    grid-area: main-content;
    padding-top: 50px ;
    display: grid;
    grid-template: "empty-left mi-form empty-right" /
                        1fr      1000px    1fr;
    
}
.mi-form{
    grid-area: mi-form;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
input[type="text"]{
    width: 450px;
    height: 60px;
    border: 1px solid rgb(148, 148, 148);
}
.box-input{
    margin-top: 70px;
}
input[type="text"]{
    width: 450px;
    height: 60px;
    border: rgb(96,96,96.9);
    margin-top: 15px;
    border-radius:15px ;
}